/*-- Import Fonts --*/
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

* { border: 1px solid black; }

body{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-color: white;
  background-size: 400%, 400%;
  background-attachment: fixed;
  animation: change 10s ease-in-out infinite;
  
}

.content{
  font-family: 'Rubik', sans-serif;
  background-color: rgba(255, 255, 255, 0.795);
}

#title{
  font-family: inherit;
  font-size: 4em;
  text-align: center;
}

#description{
  font-family: inherit;
  font-size:2em;
  text-align: center;
}

p{
  font-family: inherit;
  font-size:2em;
  text-align: center;
}
/*-- Button --*/
/*https://codepen.io/SamoSoviet/pen/YwMLQg*/

.gen-btn{
  align-self: center;
  color:red;
}
.btn-generate {
  align-self: center;
	border: none;
	font-family: inherit;
	font-size: 2em;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #2a609e;
	color: #fff;
	box-shadow: 0 6px #16385e;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	box-shadow: 0 4px #16385e;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #16385e;
	top: 6px;
}




/*-- KeyFrames --*/

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}