/* Google font imports */

@import url('https://fonts.googleapis.com/css2?family=Monda&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap');

div {
  outline: 2px rgba(255,0,0,0.1) solid;
}

#header{
  
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Alegreya', serif;
}

body{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: url("https://unsplash.com/photos/FEQEQrF5M10") no-repeat fixed center / cover;
  background-color: white;
  background-size: 400%, 400%;
  background-attachment: fixed;
  -webkit-animation: change 10s ease-in-out infinite;
  animation: change 10s ease-in-out infinite;
  margin: 0;
  text-align: center;
  font-family: 'Amatic', serif;
}


h1{
  font-size: 6em;
  text-align: center;
  color:#1c2058;
  -webkit-text-stroke: #E73C7E;
}

h2{
  font-size: 2.5em;
  text-align: center;
  padding-top:0.05em;
  padding-bottom:0.05em;
  color:#414ac5;
}

em{
  
  font-size:2em;
  text-align: center;
  margin-top:-10px;
  
}

.idea{
  padding-left:150px;
  padding-right:150px;
  animation: idea 1.25s ease-in-out;
}

p{
  font-size:2em;
  color: #1c2058;
  font-weight: 700;
}

/* button*/

.btn-generate{
  background-color: rgb(0, 119, 255);
  border:3px solid rgb(1, 28, 87);
  border-radius: 5px;
  color:rgb(0, 177, 221);
  cursor:pointer;
  display:inline-block;
  font-size:1.5em;
  padding:0 10px 2px 10px;
  transition: background-color 0.5s;
  transition:color 0.5s;
}

.btn-generate:hover{
  color:rgb(0, 247, 255);
  background-color:rgb(0, 70, 221);
  text-decoration: none;
  transition: background-color 0.5s;
  transition:color 0.5s;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes idea{
  0%{
    transform:scale(0.9);
  }

  50%{
    transform:scale(1.1);
  }

  0%{
    transform:scale(0.9);
  }
}
