/*-- Import Fonts --*/
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");



.content{
  background-color: rgba(255, 255, 255, 0.795);
  display: flex;
  justify-content: center;
  align-items: center;
}
#header{
  top:-10px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
  display: inline-block;
  
}

#description{
  font-size:2em;
  text-align: center;
  margin:20px;
  display: inline-block;
}

body{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-color: white;
  background-size: 400%, 400%;
  background-attachment: fixed;
  animation: change 10s ease-in-out infinite;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  
}

.hexagon {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #64C7CC;
}



/*-- Button --*/
/*https://codepen.io/SamoSoviet/pen/YwMLQg*/


.btn-generate {
	border: none;
	font-family: inherit;
	font-size: 2em;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #2a609e;
	color: #fff;
	box-shadow: 0 6px #16385e;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	box-shadow: 0 4px #16385e;
	top: 2px;
}

.btn-2c:active {
	box-shadow: 0 0 #16385e;
	top: 6px;
}

/*-- KeyFrames --*/

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}