<!DOCTYPE html>

{%extends "base.html"%}

{% block content%}

    <div id="header">

      <h1>Welcome!</h1>
      <em>Hi</em>

      <p>
        <a class="btn-generate" href="">Click Here!</a>
      </p>

    </div>

   
<!--
<div id="genres">

      <h1>Lists</h1>
      <div>
          <h2>Genres</h2>
          <ol class ="genre-items">
            {% for genre in genres %}
              <li>{{genre[0]}}<span class="price"> {{genre[1]}}</span></li>
            {% endfor %}
          </ol>
          <h2>Aesthetics</h2>
          <ol class ="aesthetic-items">
            {% for aesthetic in aesthetics %}
              <li>{{aesthetic[0]}}<span class="price"> {{aesthetic[1]}}</span></li>
            {% endfor %}
          </ol>
          <h2>Goals</h2>
          <ol class ="goal-items">
            {% for goal in goals %}
              <li>{{goal[0]}}<span class="price"> {{goal[1]}}</span></li>
            {% endfor %}
          </ol>
          <h2>Mechanics</h2>
          <ol class ="mechanic-items">
            {% for mechanic in genres %}
              <li>{{mechanic[0]}}<span class="price"> {{mechanic[1]}}</span></li>
            {% endfor %}
          </ol>
          <h2>Characters</h2>
          <ol class ="character-items">
            {% for character in characters %}
              <li>{{character[0]}}<span class="price"> {{character[1]}}</span></li>
            {% endfor %}
          </ol>
          <h2>Adjectives</h2>
          <ol class ="adjective-items">
            {% for adjective in adjectives %}
              <li>{{adjective[0]}}<span class="price"> {{adjective[1]}}</span></li>
            {% endfor %}
          </ol>
      </div>

-->
    
   
    

{% endblock %}
