<!DOCTYPE html>

{%extends "base.html"%}


{% block content%}



<div class="content">

  <div id="header">
      
    <h1>Game Idea Generator</h1>
    
  </div>
  
  <h2 id="description">Do you want to practice your game design skills but are struggling to come up with a game idea? Then this is the place for you! Just click the button below to generate a random game idea, 
    treat it like a game jam! Make it quick, have fun doing it and practice those game dev skills! 
  </h2>

  
  <em>Remember! It doesn't need to be perfect! We're not going for any awards here!</em>

  <form action="/generate/">
    <input type="submit" value="Click Here!" class="btn-generate btn-2 btn-2c"/>

    
  <div class = "idea">
    
    <p>{{idea}}</p>
  
  </div>
</div>

{% endblock %}
